*{
    magin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   /* background-image: url(../img/fondo2.jpg);*/
}
h1{
    background-color: #fff;
    font-size: 16px;
    color: #fff; 
    padding: 10px;
    margin-bottom: 0px;
}

.contenedor-header{
    display: flex;
    flex-direction: row;
    Justify-content: space-between;
    align-items: center;

}
.logo{
    width:  100px; height: 100px;
    margin-left: 20px;
}

.carrito{
    width:  30px; height: 30px;
    margin-right: 20px;
}

.datalist{
    width: 400px;
    height: 30px;
    border-radius: 30px;

}
.separador{
    background-color: #000;
    padding: 3px;
    
}

.menu{
    background-color: rgb(247, 239, 239)
    margin-bottom: 0px;
}

.menu ul{
    display: flex;
    justify-content: center;
    
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color:#000;
    padding: 10px;
    display: inline-block;

}

.menu a:hover{
    color: darkblue;
    background-color: rgb(49, 17, 190);
}

.img-cursos{
    
    display: flex;
    justify-content: space-between;
    padding: 50px;
}